.jvectormap-tip {
	position: absolute;
	display: none;
	border: solid 1px #CDCDCD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #292929;
	color: white;
	font-family: sans-serif, Verdana;
	font-size: smaller;
	padding: 3px;
	z-index:11;
}
